body {
	font-family: 'Shadows Into Light Two', cursive;
}

h1 {
	text-align: center;
}
/*****CARD STYLING*****/
#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
	width: 400px;
	border: 2px solid slategray;
	margin: 1%;
}

.image img {
	max-width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.description > * {
	margin: 0;
	text-align: center;
}

.description {
	padding: 2%;
}

.description h6 {
	font-size: 1.5em;
	padding: 2%;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

